.row
  .small-12.columns
    %h1 My movieS
    %h5 How do you rate compared to Rotten Tomatoes critics?
.row
  .small-6.columns
    .panel
      .small-12.columns
        = link_to "All Movies", movie_entries_path, class: 'button radius success expand tiny', id: 'all_btn'
      .small-6.columns
        = link_to "Seen", movie_entries_path(seen: true), class: 'button radius success expand tiny', id: 'seen_btn'
      .small-6.columns
        = link_to "Own", movie_entries_path(own: true), class: 'button radius success expand tiny', id: 'own_btn'
      .small-6.columns
        = link_to "Wishlist See", movie_entries_path(wishlist_see: true), class: 'button radius success expand tiny', id: 'wish_see_btn'
      .small-6.columns
        = link_to "Wishlist Own", movie_entries_path(wishlist_own: true), class: 'button radius success expand tiny', id: 'wish_own_btn'
      .clear
  .small-6.columns
    .panel
      .small-6.columns
        = link_to "Add a Movie", new_movie_entry_path, class: 'button radius success expand tiny', id: 'add_btn'
      .small-6.columns
        = link_to "Splat mE", splat_path, class: 'button radius alert expand tiny', id: 'splat_btn'
      = form_tag movie_entries_path, :method => 'get' do
        = text_field_tag :search, params[:search], :id => 'search_field'
        = submit_tag "Search by Title", :title => nil, class: 'button tiny radius', :id => 'search_btn'
.row
  .small-12.columns
    .panel
      .library_table
        %table.library
          %thead
            %tr
              %th
              %th#index_title Title
              %th Year
              %th Rated
              %th Fresh Status
              %th My Rating
              %th
              %th
              %th
          %tbody
            - @movie_entries.each do |movie_entry|
              %tr
                %td=image_tag movie_image_path(movie_entry.movie), id: 'poster_index'
                %td= movie_entry.movie.title
                %td= movie_entry.movie.year
                %td= movie_entry.movie.rated
                %td= movie_entry.movie.tomato_image
                %td= movie_entry.user_rating
                %td= link_to "View", movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
                %td= link_to "Edit", edit_movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
                %td= button_to("Delete", movie_entry_path(movie_entry), method: :delete, data: {id: movie_entry.id}, class: 'button tiny radius')
.row
  .small-12.columns
    %p#certified *Rotten Tomatoes Certified Fresh is lots of top critic reviews and a steady score of 75 or higher