= link_to "Add a Movie", new_movie_entry_path, class: 'button radius success'
%p= current_user.username
%span= link_to "Seen", movie_entries_path(seen: true), class: 'button radius success', id: 'seen_btn'
%span= link_to "Own", movie_entries_path(own: true), class: 'button radius success', id: 'own_btn'
%span= link_to "Splat mE", splat_path, class: 'button radius alert'
%table.library
  %thead
    %tr
      %th Title
      %th My Rating
  %tbody
    - @movie_entries.each do |movie_entry|
      %tr
        %td= movie_entry.movie.title
        %td= movie_entry.user_rating
        %td= link_to "View", movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
        %td= link_to "Edit", edit_movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
        %td= button_to("Delete", movie_entry_path(movie_entry), method: :delete, data: {id: movie_entry.id}, class: 'button tiny radius')