= link_to "Add a Movie", new_movie_entry_path
%p= current_user.username
%table.library
  %thead
    %tr
      %th Title
      %th My Rating
  %tbody
    - @movie_entries.each do |movie_entry|
      %tr
        %td= movie_entry.movie.title
        %td= movie_entry.user_rating
        %td= link_to "View", movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
        %td= link_to "Edit", edit_movie_entry_path(id: movie_entry.id), class: 'button tiny radius'
        %td= button_to("Delete", movie_entry_path(movie_entry), method: :delete, data: {id: movie_entry.id}, class: 'button tiny radius')