.row
  .small-12.columns
    %h1 Splat reporT
    %p Your average rating score compared to the Rotten Tomatoes average critic scores. How do you rate?
.row
  .small-7.columns
    .panel
      .splat_table
        %table.splat
          %thead
            %tr
              %th Title
              %th My Rating
              %th Critic Rating
              %th Rating Difference
          %tbody
            - @movie_entries.each do |movie_entry|
              %tr
                %td= movie_entry.movie.title
                %td= movie_entry.user_rating
                %td= movie_entry.movie.tomato_meter
                %td= movie_entry['rating']
            %tr
              %td.splat_totals= 'Average Totals:'
              %td.splat_totals= @user_rating_avg
              %td.splat_totals= @critic_rating_avg
              %td.splat_totals= @rating_diff_avg